<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>user Acctivation and Deactivation</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">

    <!-- Your custom CSS styles -->
    <link rel="stylesheet" type="text/css" href="../Dashboard/css/chamber.css">
    <link rel="stylesheet" href="../Dashboard/css/dashbaord.css" />
    <link rel="stylesheet" href="../Dashboard/css/alert.css">

</head>

<body>

    <!-- Top Bar -->
    <div id="topbar" class="bg-black p-4"
        style="position: relative; display: flex; justify-content: space-between; align-items: center;">
        <!-- Patient in Top Left Corner -->
        <div style="position: absolute; top: 0; left: 0;">
            <p style="margin-left: 300px; padding-top: 15px; font-size: 20px;">Admin Feedback</p>
        </div>

        <!-- Logout Button -->
        <button class="btn btn-danger" style="position: absolute; top: 8px; right: 3px;">
            Logout
        </button>
    </div>



    <!-- Sidebar -->
    <nav id="sidebar" class="bg-black">
        <div class="position-fixed">
            <ul class="list-unstyled text-center">
                <li>
                    <a href="dashboard.html" class="btn btn-link text-white" style="font-size: 23px;">Dashboard</a>
                </li>
                <li>
                    <a class="dash" href="patient.html" class="btn btn-link text-white">
                        <img width="33" height="33"
                            src="https://img.icons8.com/external-fauzidea-detailed-outline-fauzidea/64/000000/external-patients-pandemic-fauzidea-detailed-outline-fauzidea.png"
                            alt="external-patients-pandemic-fauzidea-detailed-outline-fauzidea"
                            style="filter: brightness(0) invert(1); margin-right: 20px;">
                        user details
                    </a>
                </li>
                <br>
                <li>
                    <a class="dash" href="doctor.html" class="btn btn-link text-white"
                        style="display: flex; align-items: center;">
                        <img width="30" height="30"
                            src="https://img.icons8.com/external-justicon-lineal-justicon/64/000000/external-doctor-plastic-surgery-justicon-lineal-justicon.png"
                            alt="external-doctor-plastic-surgery-justicon-lineal-justicon"
                            style="filter: brightness(0) invert(1); margin-left: 18px; margin-right: 25px;">
                        customize token
                    </a>
                </li>
                <br>
                <li>
                    <a class="dash" href="chamber.html" class="btn btn-link text-white">
                        <img width="35" height="35" src="https://img.icons8.com/ios/50/000000/two-beds.png"
                            alt="two-beds"
                            style="filter: brightness(0) invert(1); margin-left: 10px; margin-right: 18px;">
                        customize users
                    </a>
                </li>
                <br>
            </ul>

        </div>
    </nav>

    <!-- Content -->
    <div id="content">

            <div class="details">
                <div class="admins">
                    <div class="cardHeader">
                        <h2>Users</h2>
                    </div>
                    <table id="myTable">
                        <thead>
                            <tr>
                                <td>User ID</td>
                                <td>Name</td>
                                <td>Email</td>
                                <td>cid</td>
                                <td>Status</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody id="myTableBody">

                        </tbody>
                    </table>
                </div>
            </div>
        <br><br><br>
        <div class="col-md-9">
            <div class="table_edit" , id="table_edit"></div>
        </div>

        <!-- Include Bootstrap JS -->
        <script type="module" src="../Dashboard/js/adminusers.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>